# eclipse
/.classpath
/.project
/.settings

# intellij
/.idea
/*.iml
/*/*.iml
/*.ipr
/*.iws

# gradle
/build
/*/build
/.gradle

# integration tests
/filesystem-test-fixture

# Rendered Jekyll site
/docs/_site

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE
.idea
*.iml
*.ipr
*.iws

# Sonar
/.scannerwork
/.sonarlint
/build-eclipse/
/bin/
